@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutMobile";
}
<!-- breadcrumb -->
<div class="page-heading">
	<div class="row d-flex align-items-center">
		<div class="col-12" style="display:none">
			<div class="page-breadcrumb">
				<h1>Portal</h1>
			</div>
		</div>
		<div class="col-12  d-md-flex">
			<div class="breadcrumb_nav">
				<ol class="breadcrumb">
					<li>
						<i class="bx bx-home"></i>
						<a class="parent-item" href="index.html">Home</a>
						
					</li>
					<li class="active">
                        <i class='bx bxs-dashboard'></i>Portal
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- breadcrumb_End -->
<!-- Section -->
<section class="chart_section">
	       @{
                Html.RenderPartial("smartCityPoster");
				}
</section>
<section class="chart_section">

	<div class="row" style="margin-button:-25px">
		<div class="col-12">
			<div class="info_items bg_green d-flex align-items-center">
			@* 	<span class="info_items_icon">
					@* <i class="ion-android-people"></i>  
                </span> *@
                    <div  class="info_items_icon" style="height:100px;width:120px;background-color:white;border-radius:50px;display:inline;">
                    <a href="#"><img src="/images/icosmt/peo.png" /></a>
                </div>
             
			
				
				<div class="info_item_content">
					<span class="info_items_text">Smart People</span>
					<span class="info_items_number">450</span>
					<div class="progress">
						<div class="progress-bar width-45"></div>
					</div>
					<span class="progress-description"> 45% Increase in 28 Days </span>
				</div>
			</div>
		</div>
	 </div>
	<div class="row" style="margin-button:-25px">
		<div class="col-12">
			<div class="info_items bg_green d-flex align-items-center">
				@* 	<span class="info_items_icon">
				@* <i class="ion-android-people"></i>
				</span> *@
				<div class="info_items_icon" style="height:100px;width:120px;background-color:white;border-radius:50px;display:inline;">
					<a href="#"><img src="/images/icosmt/env.png" /></a>
				</div>



				<div class="info_item_content">
					<span class="info_items_text">Smart Environment</span>
					<span class="info_items_number">450</span>
					<div class="progress">
						<div class="progress-bar width-45"></div>
					</div>
					<span class="progress-description"> 45% Increase in 28 Days </span>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-button:-25px">
		<div class="col-12">
			<div class="info_items bg_green d-flex align-items-center">
				@* 	<span class="info_items_icon">
				@* <i class="ion-android-people"></i>
				</span> *@
				<div class="info_items_icon" style="height:100px;width:120px;background-color:white;border-radius:50px;display:inline;">
					<a href="#"><img src="/images/icosmt/living.png" /></a>
				</div>



				<div class="info_item_content">
					<span class="info_items_text">Smart Living</span>
					<span class="info_items_number">450</span>
					<div class="progress">
						<div class="progress-bar width-45"></div>
					</div>
					<span class="progress-description"> 45% Increase in 28 Days </span>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-button:-25px">
		<div class="col-12">
			<div class="info_items bg_green d-flex align-items-center">
				@* 	<span class="info_items_icon">
				@* <i class="ion-android-people"></i>
				</span> *@
				<div class="info_items_icon" style="height:100px;width:120px;background-color:white;border-radius:50px;display:inline;">
					<a href="#"><img src="/images/icosmt/energy.png" /></a>
				</div>



				<div class="info_item_content">
					<span class="info_items_text">Smart Energy</span>
					<span class="info_items_number">450</span>
					<div class="progress">
						<div class="progress-bar width-45"></div>
					</div>
					<span class="progress-description"> 45% Increase in 28 Days </span>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-button:-25px">
		<div class="col-12">
			<div class="info_items bg_green d-flex align-items-center">
				@* 	<span class="info_items_icon">
				@* <i class="ion-android-people"></i>
				</span> *@
				<div class="info_items_icon" style="height:100px;width:120px;background-color:white;border-radius:50px;display:inline;">
					<a href="#"><img src="/images/icosmt/eco.png" /></a>
				</div>



				<div class="info_item_content">
					<span class="info_items_text">Smart Economy</span>
					<span class="info_items_number">450</span>
					<div class="progress">
						<div class="progress-bar width-45"></div>
					</div>
					<span class="progress-description"> 45% Increase in 28 Days </span>
				</div>
			</div>
		</div>
	</div>
	<div class="row"  style="margin-button:-25px">
		<div class="col-12">
			<div class="info_items bg_green d-flex align-items-center">
				@* 	<span class="info_items_icon">
				@* <i class="ion-android-people"></i>
				</span> *@
				<div class="info_items_icon" style="height:100px;width:120px;background-color:white;border-radius:50px;display:inline;">
					<a href="#"><img src="/images/icosmt/gov.png" /></a>
				</div>



				<div class="info_item_content">
					<span class="info_items_text">Smart Government</span>
					<span class="info_items_number">450</span>
					<div class="progress">
						<div class="progress-bar width-45"></div>
					</div>
					<span class="progress-description"> 45% Increase in 28 Days </span>
				</div>
			</div>
		</div>
	</div>
		<!-- /info-box-content -->
	 

	<div class="row" style="display:none">
		<div class="col-12">
			<div class="card card-shadow mb-4">
				<div class="card-header">
					<div class="card-title">
						Area Chart
					</div>
				</div>
				<div class="card-body">
					<div id="area-chart" class="height_wp" style="position: relative;">
						<svg height="338" version="1.1" width="1193" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; top: -0.266663px; width: 1192.67px;"><desc>Created with Raphaël 2.1.2</desc><defs></defs><text style="text-anchor: end; font: 12px sans-serif;" x="49.16666793823242" y="299.6666669845581" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4.000000476837158">0</tspan></text><path style="" fill="none" stroke="#e5ebf8" d="M61.66666793823242,299.6666669845581H1167.67" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="49.16666793823242" y="231.00000023841858" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4.000005483627319">7,500</tspan></text><path style="" fill="none" stroke="#e5ebf8" d="M61.66666793823242,231.00000023841858H1167.67" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="49.16666793823242" y="162.33333349227905" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4.0000104904174805">15,000</tspan></text><path style="" fill="none" stroke="#e5ebf8" d="M61.66666793823242,162.33333349227905H1167.67" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="49.16666793823242" y="93.66666674613953" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4.000000238418579">22,500</tspan></text><path style="" fill="none" stroke="#e5ebf8" d="M61.66666793823242,93.66666674613953H1167.67" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="49.16666793823242" y="25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4.000000476837158">30,000</tspan></text><path style="" fill="none" stroke="#e5ebf8" d="M61.66666793823242,25H1167.67" stroke-width="0.5"></path><text style="text-anchor: middle; font: 12px sans-serif;" x="1167.67" y="312.1666669845581" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.6667)"><tspan dy="4.000000476837158">2017-06</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="1085.6940543672324" y="312.1666669845581" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.6667)"><tspan dy="4.000000476837158">2017-04</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="1006.4058446568505" y="312.1666669845581" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.6667)"><tspan dy="4.000000476837158">2017-02</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="923.0860310628899" y="312.1666669845581" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.6667)"><tspan dy="4.000000476837158">2016-12</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="841.1100854301221" y="312.1666669845581" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.6667)"><tspan dy="4.000000476837158">2016-10</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="759.1341397973545" y="312.1666669845581" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.6667)"><tspan dy="4.000000476837158">2016-08</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="677.1581941645867" y="312.1666669845581" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.6667)"><tspan dy="4.000000476837158">2016-06</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="595.182248531819" y="312.1666669845581" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.6667)"><tspan dy="4.000000476837158">2016-04</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="514.5501708602442" y="312.1666669845581" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.6667)"><tspan dy="4.000000476837158">2016-02</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="431.2303572662836" y="312.1666669845581" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.6667)"><tspan dy="4.000000476837158">2015-12</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="349.2544116335159" y="312.1666669845581" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.6667)"><tspan dy="4.000000476837158">2015-10</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="267.27846600074815" y="312.1666669845581" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.6667)"><tspan dy="4.000000476837158">2015-08</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="185.30252036798043" y="312.1666669845581" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.6667)"><tspan dy="4.000000476837158">2015-06</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="103.32657473521274" y="312.1666669845581" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.6667)"><tspan dy="4.000000476837158">2015-04</tspan></text><path style="fill-opacity: 0.7;" fill="#f999b9" stroke="#000000" d="M61.66666793823242,275.25795584519705C92.57563104566943,246.39048914512,154.39355726054345,162.35851127008596,185.30252036798043,159.7880890448888C216.21148347541742,157.21766681969166,278.02940969029146,241.44889059659562,308.93837279772845,254.6945780436198C339.51136891486726,267.7962906270894,400.6573611491448,267.3498447249333,431.2303572662836,265.17768916686373C461.80335338342235,263.00553360879417,522.9493456176999,239.48331038788476,553.5223417348386,237.31733357906342C584.4313048422756,235.12755482728798,646.2492310571497,245.47722247739634,677.1581941645867,247.75466692447662C708.0671572720237,250.0321113715569,769.8850834868978,266.3569047116408,800.7940465943348,255.53688915570578C831.3670427114736,244.83448246450916,892.5130349457511,168.41652993885302,923.0860310628899,161.66497793594996C953.3230601897304,154.98761881219968,1013.7971184434116,194.30450837665643,1044.0341475702521,201.82124464909236C1074.9431106776892,209.5050195053602,1136.761036892563,217.30557800034683,1167.67,222.46702245076497L1167.67,299.6666669845581L61.66666793823242,299.6666669845581Z" fill-opacity="0.7" stroke-width="0"></path><path style="" fill="none" stroke="#ff518a" d="M61.66666793823242,275.25795584519705C92.57563104566943,246.39048914512,154.39355726054345,162.35851127008596,185.30252036798043,159.7880890448888C216.21148347541742,157.21766681969166,278.02940969029146,241.44889059659562,308.93837279772845,254.6945780436198C339.51136891486726,267.7962906270894,400.6573611491448,267.3498447249333,431.2303572662836,265.17768916686373C461.80335338342235,263.00553360879417,522.9493456176999,239.48331038788476,553.5223417348386,237.31733357906342C584.4313048422756,235.12755482728798,646.2492310571497,245.47722247739634,677.1581941645867,247.75466692447662C708.0671572720237,250.0321113715569,769.8850834868978,266.3569047116408,800.7940465943348,255.53688915570578C831.3670427114736,244.83448246450916,892.5130349457511,168.41652993885302,923.0860310628899,161.66497793594996C953.3230601897304,154.98761881219968,1013.7971184434116,194.30450837665643,1044.0341475702521,201.82124464909236C1074.9431106776892,209.5050195053602,1136.761036892563,217.30557800034683,1167.67,222.46702245076497" stroke-width="1"></path><circle cx="61.66666793823242" cy="275.25795584519705" r="4" fill="#ff518a" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="185.30252036798043" cy="159.7880890448888" r="4" fill="#ff518a" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="308.93837279772845" cy="254.6945780436198" r="4" fill="#ff518a" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="431.2303572662836" cy="265.17768916686373" r="4" fill="#ff518a" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="553.5223417348386" cy="237.31733357906342" r="4" fill="#ff518a" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="677.1581941645867" cy="247.75466692447662" r="4" fill="#ff518a" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="800.7940465943348" cy="255.53688915570578" r="4" fill="#ff518a" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="923.0860310628899" cy="161.66497793594996" r="4" fill="#ff518a" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="1044.0341475702521" cy="201.82124464909236" r="4" fill="#ff518a" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="1167.67" cy="222.46702245076497" r="4" fill="#ff518a" stroke="#ffffff" style="" stroke-width="1"></circle><path style="fill-opacity: 0.7;" fill="#fcf4cf" stroke="#000000" d="M61.66666793823242,299.6666669845581C92.57563104566943,289.838178084294,154.39355726054345,262.60612249722084,185.30252036798043,260.3527113835017C216.21148347541742,258.09930026978253,278.02940969029146,280.83734140113836,308.93837279772845,281.63937807480494C339.51136891486726,282.43269695854036,400.6573611491448,280.40452251782017,431.2303572662836,266.7341336131096C461.80335338342235,253.06374470839899,522.9493456176999,173.06844753020445,553.5223417348386,172.27626683712003C584.4313048422756,171.47538086169402,646.2492310571497,271.67012250771126,677.1581941645867,260.36186693906785C708.0671572720237,249.05361137042445,769.8850834868978,83.73649114266118,800.7940465943348,81.81022228797275C831.3670427114736,79.90489113822659,892.5130349457511,222.78538033940845,923.0860310628899,245.0354669213295C953.3230601897304,267.0410470572954,1013.7971184434116,258.5453946536932,1044.0341475702521,258.83288915952045C1074.9431106776892,259.12677243214387,1136.761036892563,250.2289558162292,1167.67,247.3609780351321L1167.67,299.6666669845581L61.66666793823242,299.6666669845581Z" fill-opacity="0.7" stroke-width="0"></path><path style="" fill="none" stroke="#ffea80" d="M61.66666793823242,299.6666669845581C92.57563104566943,289.838178084294,154.39355726054345,262.60612249722084,185.30252036798043,260.3527113835017C216.21148347541742,258.09930026978253,278.02940969029146,280.83734140113836,308.93837279772845,281.63937807480494C339.51136891486726,282.43269695854036,400.6573611491448,280.40452251782017,431.2303572662836,266.7341336131096C461.80335338342235,253.06374470839899,522.9493456176999,173.06844753020445,553.5223417348386,172.27626683712003C584.4313048422756,171.47538086169402,646.2492310571497,271.67012250771126,677.1581941645867,260.36186693906785C708.0671572720237,249.05361137042445,769.8850834868978,83.73649114266118,800.7940465943348,81.81022228797275C831.3670427114736,79.90489113822659,892.5130349457511,222.78538033940845,923.0860310628899,245.0354669213295C953.3230601897304,267.0410470572954,1013.7971184434116,258.5453946536932,1044.0341475702521,258.83288915952045C1074.9431106776892,259.12677243214387,1136.761036892563,250.2289558162292,1167.67,247.3609780351321" stroke-width="1"></path><circle cx="61.66666793823242" cy="299.6666669845581" r="4" fill="#ffea80" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="185.30252036798043" cy="260.3527113835017" r="4" fill="#ffea80" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="308.93837279772845" cy="281.63937807480494" r="4" fill="#ffea80" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="431.2303572662836" cy="266.7341336131096" r="4" fill="#ffea80" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="553.5223417348386" cy="172.27626683712003" r="4" fill="#ffea80" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="677.1581941645867" cy="260.36186693906785" r="4" fill="#ffea80" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="800.7940465943348" cy="81.81022228797275" r="4" fill="#ffea80" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="923.0860310628899" cy="245.0354669213295" r="4" fill="#ffea80" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="1044.0341475702521" cy="258.83288915952045" r="4" fill="#ffea80" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="1167.67" cy="247.3609780351321" r="4" fill="#ffea80" stroke="#ffffff" style="" stroke-width="1"></circle><path style="fill-opacity: 0.7;" fill="#75bbf0" stroke="#000000" d="M61.66666793823242,275.43191140095394C92.57563104566943,275.90342251261075,154.39355726054345,277.15086695849897,185.30252036798043,277.31795584758123C216.21148347541742,277.4850447366635,278.02940969029146,280.5060903989335,308.93837279772845,276.7686225136121C339.51136891486726,273.0717792792181,400.6573611491448,247.3426669239998,431.2303572662836,247.58071136871973C461.80335338342235,247.81875581343968,522.9493456176999,274.338748072427,553.5223417348386,278.6729780713717C584.4313048422756,283.0548369714037,646.2492310571497,281.6382336303592,677.1581941645867,282.44506696462633C708.0671572720237,283.2519002988935,769.8850834868978,288.9180447498957,800.7940465943348,285.1276447455088C831.3670427114736,281.3784447411696,892.5130349457511,252.79300456075597,923.0860310628899,252.28666692972183C953.3230601897304,251.78589344847927,1013.7971184434116,277.2689585337272,1044.0341475702521,281.099200296402C1074.9431106776892,285.01455854269176,1136.761036892563,282.7266002982855,1167.67,283.26906696558L1167.67,299.6666669845581L61.66666793823242,299.6666669845581Z" fill-opacity="0.7" stroke-width="0"></path><path style="" fill="none" stroke="#36a2f5" d="M61.66666793823242,275.43191140095394C92.57563104566943,275.90342251261075,154.39355726054345,277.15086695849897,185.30252036798043,277.31795584758123C216.21148347541742,277.4850447366635,278.02940969029146,280.5060903989335,308.93837279772845,276.7686225136121C339.51136891486726,273.0717792792181,400.6573611491448,247.3426669239998,431.2303572662836,247.58071136871973C461.80335338342235,247.81875581343968,522.9493456176999,274.338748072427,553.5223417348386,278.6729780713717C584.4313048422756,283.0548369714037,646.2492310571497,281.6382336303592,677.1581941645867,282.44506696462633C708.0671572720237,283.2519002988935,769.8850834868978,288.9180447498957,800.7940465943348,285.1276447455088C831.3670427114736,281.3784447411696,892.5130349457511,252.79300456075597,923.0860310628899,252.28666692972183C953.3230601897304,251.78589344847927,1013.7971184434116,277.2689585337272,1044.0341475702521,281.099200296402C1074.9431106776892,285.01455854269176,1136.761036892563,282.7266002982855,1167.67,283.26906696558" stroke-width="1"></path><circle cx="61.66666793823242" cy="275.43191140095394" r="4" fill="#36a2f5" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="185.30252036798043" cy="277.31795584758123" r="4" fill="#36a2f5" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="308.93837279772845" cy="276.7686225136121" r="4" fill="#36a2f5" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="431.2303572662836" cy="247.58071136871973" r="4" fill="#36a2f5" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="553.5223417348386" cy="278.6729780713717" r="4" fill="#36a2f5" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="677.1581941645867" cy="282.44506696462633" r="4" fill="#36a2f5" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="800.7940465943348" cy="285.1276447455088" r="4" fill="#36a2f5" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="923.0860310628899" cy="252.28666692972183" r="4" fill="#36a2f5" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="1044.0341475702521" cy="281.099200296402" r="4" fill="#36a2f5" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="1167.67" cy="283.26906696558" r="4" fill="#36a2f5" stroke="#ffffff" style="" stroke-width="1"></circle></svg><div class="morris-hover morris-default-style" style="left: 497.522px; top: 161px; display: none;">
							<div class="morris-hover-row-label">2016 Q1</div><div class="morris-hover-point" style="color: #FF518A">
								iPhone:
								6,810
							</div><div class="morris-hover-point" style="color: #FFEA80">
								iPad:
								13,914
							</div><div class="morris-hover-point" style="color: #36a2f5">
								iPod Touch:
								2,293
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12">
			<div class="card card-shadow mb-4">
				<div class="card-header">
					<div class="card-title">
						Activity Log
					</div>
				</div>
				<div class="card-body">
					<div class="baseline baseline-border">
						<div class="baseline-list">
							<div class="baseline-info">
								<div>
									<a href="#" class="default-color">
										<strong>John Tasi</strong>
									</a> Prepare for the Meeting
									<span class="badge badge-pill badge-success">status</span>
								</div>
								<span class="text-muted">10:00 PM Sat, 10 Jan 2019</span>
							</div>
						</div>
						<div class="baseline-list baseline-border baseline-primary">
							<div class="baseline-info">
								<div>Video conference to client</div>
								<span class="text-muted">05:00 PM Sun, 02 Feb 2019</span>
							</div>
						</div>
						<div class="baseline-list  baseline-border baseline-success">
							<div class="baseline-info">
								<div>
									<a href="#" class="default-color">
										<strong>Tnisha</strong>
									</a> Submit a blog post
									<a href="#" class="">best admin template in 2019.</a>
								</div>
								<span class="text-muted">10:00 PM Sat, 10 Jan 2019</span>
							</div>
						</div>
						<div class="baseline-list  baseline-border baseline-warning">
							<div class="baseline-info">
								<div>
									<a href="#" class="default-color">
										<strong>New Request</strong>
									</a> 10 user request to approve or remove
								</div>
								<span class="text-muted">10:00 PM Sat, 10 Jan 2019</span>
							</div>
						</div>
						<div class="baseline-list  baseline-border baseline-info">
							<div class="baseline-info">
								<div>
									<a href="#" class="default-color">
										<strong>Mark Henry</strong>
									</a> added your friend list now
								</div>
								<span class="text-muted">10:00 PM Sat, 10 Jan 2019</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="display:none">
		<div class="col-12 d-flex align-items-stretch">
			<div class="stats-wrap full_chart card mb-4">
				<div class="chart_header">
					<div class="chart_headibg">
						<h3>Sales</h3>
					</div>

				</div>
				<div class="card_chart">
					<div class="stats-wrap">
						<h2>
							<b>65,800</b>
							<span>
								+
								<b>20</b>%
							</span>
						</h2>
						<p class="text-grey">
							Total Sale
							<small>This Year</small>
						</p>
						<h4>
							<b>1,204</b>
							<span>
								+
								<b>5</b>%
							</span>
						</h4>
						<p>
							Sale
							<small>This week</small>
						</p>
						<h4>
							<b>2,690</b>
							<span>
								+
								<b>125</b>
							</span>
						</h4>
						<p>
							New Sales
							<small>This Month</small>
						</p>
						<h4>
							<b>2,690</b>
							<span>
								+
								<b>125</b>
							</span>
						</h4>
						<p>
							New Sale
							<small>This Month</small>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 d-flex align-items-stretch">
			<div class="stats-wrap full_chart card mb-4">
				<div class="chart_header">
					<div class="chart_headibg">
						<h3>Activity</h3>
					</div>

				</div>
				<div class="card_chart">
					<div class="events-nest">
						<div class="drak_blue">
							<h1>25</h1>
							<div class="middle_text">
								<span>3 Event</span>
								<p>
									Monday
									<i class="fontello-record"></i> february 2019
								</p>
							</div>
						</div>
						<ul>
							<li>
								<h4>
									<span class="counter-up-fast">8</span>:00
									<small>PM</small>
								</h4>
								<p>
									Mathematic Lesson
									<i class="ion-ios-copy-outline"></i>
									<i class="ion-ios-heart-outline"></i>
								</p>
							</li>
							<li>
								<h4>
									<span class="counter-up-fast">9</span>:
									<span class="counter-up-fast">30</span>
									<small>PM</small>
								</h4>
								<p>
									Meeting With Josh
									<i class="ion-ios-copy-outline"></i>
									<i class="ion-ios-heart-outline"></i>
								</p>
							</li>
							<li>
								<h4>
									<span class="counter-up-fast">12</span>:
									<span class="counter-up-fast">15</span>
									<small>PM</small>
								</h4>
								<p>
									Launch time
									<i class="ion-ios-copy-outline"></i>
									<i class="ion-ios-heart-outline"></i>
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 d-flex align-items-stretch">
			<div class="stats-wrap full_chart card mb-4">
				<div class="chart_header">
					<div class="chart_headibg">
						<h3>Referrals</h3>
					</div>

				</div>
				<div class="card_chart">
					<ul class="list-unstyled list-referrals">
						<li class="mb-4">
							<p><span class="value">2301</span><span class="text-muted float-right">visits from Facebook</span></p>
							<div class="progress">
								<div class="progress-bar bg-warning width-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</li>

						<li class="mb-4">
							<p><span class="value">1357</span><span class="text-muted float-right">visits from Twitter</span></p>
							<div class="progress">
								<div class="progress-bar badge-info width-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</li>

						<li class="mb-4">
							<p><span class="value">2765</span><span class="text-muted float-right">visits from Search</span></p>
							<div class="progress">
								<div class="progress-bar bg-primary width-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</li>

						<li class="mb-4">
							<p><span class="value">3121</span><span class="text-muted float-right">visits from Linkedin</span></p>
							<div class="progress">
								<div class="progress-bar badge-danger width-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="display:none">
		<div class="col-12">
			<div class="full_chart card mb-4">
				<div class="chart_header">
					<div class="chart_headibg">
						<h3>Social Campaigns</h3>
					</div>

				</div>
				<div class="card_chart">
					<div class="student_table table-responsive-lg">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Campaign</th>
									<th>Client</th>
									<th>Changes</th>
									<th>Budget</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<span class="weight-500">Facebook</span>
									</td>
									<td>Beavis</td>
									<td>
										<span class="txt-success">
											<i class="fa fa-sort-up mr-10 "></i>
											<span>2.43%</span>
										</span>
									</td>
									<td>
										<span class="weight-500">$1478</span>
									</td>
									<td>
										<span class="label label-warning">Active</span>
									</td>
								</tr>
								<tr>
									<td>
										<span class="weight-500">Youtube</span>
									</td>
									<td>Felix</td>
									<td>
										<span class="txt-success">
											<i class="fa fa-sort-up mr-10 "></i>
											<span>1.43%</span>
										</span>
									</td>
									<td>
										<span class="weight-500">$951</span>
									</td>
									<td>
										<span class="label label-danger">Closed</span>
									</td>
								</tr>
								<tr>
									<td>
										<span class="weight-500">Twitter</span>
									</td>
									<td>Cannibus</td>
									<td>
										<span class="txt-danger">
											<i class="fa fa-sort-down mr-10 "></i>
											<span>-8.43%</span>
										</span>
									</td>
									<td>
										<span class="weight-500">$632</span>
									</td>
									<td>
										<span class="label label-default">Hold</span>
									</td>
								</tr>
								<tr>
									<td>
										<span class="weight-500">Spotify</span>
									</td>
									<td>Neosoft</td>
									<td>
										<span class="txt-success">
											<i class="fa fa-sort-up mr-10 "></i>
											<span>7.43%</span>
										</span>
									</td>
									<td>
										<span class=" weight-500">$325</span>
									</td>
									<td>
										<span class="label label-default">Hold</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12">
			<div class="full_chart card mb-4">
				<div class="chart_header">
					<div class="chart_headibg">
						<h3>Resent Chat</h3>
					</div>

				</div>
				<div class="card_chart">
					<div class="chat_box scroll_auto mCustomScrollbar _mCS_3">
						<div id="mCSB_3" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
							<div id="mCSB_3_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
								<div class="left_align_me">
									<img src="assets/images/img1.jpg" alt="" class="rounded-circle mCS_img_loaded">
									<div class="chat-info">
										<span class="message">Hello, John<br>What is the update on Project?</span>
									</div>
								</div>

								<div class="right_align_me">
									<img src="assets/images/img2.jpg" alt="" class="rounded-circle mCS_img_loaded">
									<div class="chat-info">
										<span class="message">Hello, John<br>What is the update on Project?</span>
									</div>
								</div>

								<div class="left_align_me">
									<img src="assets/images/img1.jpg" alt="" class="rounded-circle mCS_img_loaded">
									<div class="chat-info">
										<span class="message">Hello, John<br>What is the update on Project?</span>
									</div>
								</div>

								<div class="right_align_me">
									<img src="assets/images/img2.jpg" alt="" class="rounded-circle mCS_img_loaded">
									<div class="chat-info">
										<span class="message">Hello, John<br>What is the update on Project?</span>
									</div>
								</div>

							</div><div id="mCSB_3_scrollbar_vertical" class="mCSB_scrollTools mCSB_3_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_3_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 123px; max-height: 190px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
						</div>
					</div>

					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="icon-paper-plane"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Enter text here...">
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="row" style="display:none">
		<div class="col-12">
			<div class="card card-inverse card-danger mb-4">
				<div class="card-body pb-0">
					<div class="btn-group float-right">
						<div class="dropdown ">
							<a href="#" class="btn btn-transparent text-light dropdown-hover p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class=" icon-options"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right ">
								<a class="dropdown-item" href="#">
									<i class="icon-note text-info pr-2"></i> Edit
								</a>
								<a class="dropdown-item" href="#">
									<i class="icon-close text-danger pr-2"></i> Delete
								</a>
								<a class="dropdown-item" href="#">
									<i class="icon-shield text-warning pr-2"></i> Cancel
								</a>
							</div>
						</div>
					</div>
					<h4 class="mb-0 text-light">9876</h4>
					<p class="text-light"> Total Profit</p>
				</div>
				<div class="px-">
					<iframe class="chartjs-hidden-iframe" style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" tabindex="-1"></iframe>
					<canvas id="myChart2-alt" height="150" style="display: block; height: 100px; width: 1231px;" width="1846"></canvas>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="card card-inverse card-success mb-4">
				<div class="card-body pb-0">
					<div class="btn-group float-right">
						<div class="dropdown ">
							<a href="#" class="btn btn-transparent text-light dropdown-hover p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class=" icon-options"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right ">
								<a class="dropdown-item" href="#">
									<i class="icon-note text-info pr-2"></i> Edit
								</a>
								<a class="dropdown-item" href="#">
									<i class="icon-close text-danger pr-2"></i> Delete
								</a>
								<a class="dropdown-item" href="#">
									<i class="icon-shield text-warning pr-2"></i> Cancel
								</a>
							</div>
						</div>
					</div>
					<h4 class="mb-0 text-light">234</h4>
					<p class="text-light">New Orders</p>
				</div>
				<div class="px-">
					<iframe class="chartjs-hidden-iframe" style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" tabindex="-1"></iframe>
					<canvas id="myChart2" height="150" style="display: block; height: 100px; width: 1231px;" width="1846"></canvas>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="card card-inverse card-warning mb-4">
				<div class="card-body pb-0">
					<div class="btn-group float-right">
						<div class="dropdown ">
							<a href="#" class="btn btn-transparent text-light dropdown-hover p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class=" icon-options"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right ">
								<a class="dropdown-item" href="#">
									<i class="icon-note text-info pr-2"></i> Edit
								</a>
								<a class="dropdown-item" href="#">
									<i class="icon-close text-danger pr-2"></i> Delete
								</a>
								<a class="dropdown-item" href="#">
									<i class="icon-shield text-warning pr-2"></i> Cancel
								</a>
							</div>
						</div>
					</div>
					<h4 class="mb-0 text-light">12083</h4>
					<p class="text-light">Yearly Revineue</p>
				</div>
				<div class="px-4">
					<iframe class="chartjs-hidden-iframe" style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" tabindex="-1"></iframe>
					<canvas id="myChart3" height="150" style="display: block; height: 100px; width: 1183px;" width="1774"></canvas>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="card card-inverse card-primary mb-4">
				<div class="card-body pb-0 ">
					<div class="btn-group float-right">
						<div class="dropdown ">
							<a href="#" class="btn btn-transparent text-light dropdown-hover p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class=" icon-options"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right ">
								<a class="dropdown-item" href="#">
									<i class="icon-note text-info pr-2"></i> Edit
								</a>
								<a class="dropdown-item" href="#">
									<i class="icon-close text-danger pr-2"></i> Delete
								</a>
								<a class="dropdown-item" href="#">
									<i class="icon-shield text-warning pr-2"></i> Cancel
								</a>
							</div>
						</div>
					</div>
					<h4 class="mb-0 text-light">12083</h4>
					<p class="text-light">New Users</p>
				</div>
				<div class="">
					<iframe class="chartjs-hidden-iframe" style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" tabindex="-1"></iframe>
					<canvas id="myChart" height="150" style="display: block; height: 100px; width: 1231px;" width="1846"></canvas>
				</div>
			</div>
		</div>
	</div>
	<!--graph widget end-->
	
</section>
<!-- Section_End -->
