@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model SMCTPortal.Model.SMCV.Resume;

@* section profile *@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="~/css/mobile/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/mycv/main-red.css" rel="stylesheet" />
<link href="~/css/mycv/normalize.css" rel="stylesheet" />
 
<link rel="stylesheet" href="~/css/mycv/normalize.css" type="text/css">
<link rel="stylesheet" href="~/css/mycv/animate.css" type="text/css">
<link rel="stylesheet" href="~/css/mycv/transition-animations.css" type="text/css">
<link rel="stylesheet" href="~/css/mycv/jquery.mCustomScrollbar.min.css" type="text/css">
<link rel="stylesheet" href="~/css/mycv/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="~/css/mycv/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="~/css/mycv/main-red.css" type="text/css">

<!-- This styles needs for demo -->
<link rel="stylesheet" href="~/css/mycv/lmpixels-demo-panel.css" type="text/css">
<!-- /This styles needs for demo -->

<link href="~/css/mycv/jquery.mcustomscrollbar.min.css" rel="stylesheet" />
<section class="pt-page pt-page-2 pt-page-current" data-id="about_me">
    <div id="mCSB_2" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0" style="max-height: none;">
        <div id="mCSB_2_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
              <div class="border-block-top-110">
              </div>
              <div class="section-inner">
                <div class="section-title-block">
                  <div class="section-title-wrapper clearfix">
                        <h2 class="section-title">About Me <a href="@Url.ActionLink("Edit")" style="padding-left:120px;"><i class="fa fa-edit"></i></a> </h2>
                    <h5 class="section-description">Artist, Thinker, Creative Doer</h5>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
                    <div class="my-photo-block tilt-effect" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
                      <img src="images/CV/photo.png" alt="" class="mCS_img_loaded">
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-6 col-lg-4">
                    <h3>@Model.Description</h3>
                        <p> @Model.FullDescription</p>
                    </div>

                  <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
                    <ul class="info-list">
                      <li><span class="title">Age</span><span class="value">29</span></li>
                      <li><span class="title">Residence</span><span class="value">USA</span></li>
                      <li><span class="title">Address</span><span class="value">88 Some Street, Some Town</span></li>
                      <li><span class="title">e-mail</span><span class="value"><a href="mailto:email@example.com">email@example.com</a></span></li>
                      <li><span class="title">Phone</span><span class="value">+0123 123 456 789</span></li>
                      <li><span class="title">Skype</span><span class="value">alex.smith</span></li>
                      <li><span class="title">Freelance</span><span class="value available">Available</span></li>
                    </ul>

                    <ul class="social-links">
                      <li><a class="tip social-button" href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li> <!-- Full list of social icons: http://fontawesome.io/icons/#brand -->
                      <li><a class="tip social-button" href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="tip social-button" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                      <li><a class="tip social-button" href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                      <li><a class="tip social-button" href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                      <!--<li><a class="tip social-button" href="#" title="last.fm"><i class="fa fa-lastfm"></i></a></li>-->
                      <!--<li><a class="tip social-button" href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>-->
                    </ul>
                  </div>
                </div>

                <!-- Services block -->
                <div class="block-title">
                  <h3>Services</h3>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-md-3 subpage-block">
                    <div class="service-block"> 
                      <div class="service-info">
                                <img src="images/CV/web_design_icon.png" alt="Responsive Design" class="mCS_img_loaded">
                        <h4>Web Design</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3 subpage-block">
                    <div class="service-block"> 
                      <div class="service-info">
                                <img src="images/CV/photography_icon.png" alt="Photography" class="mCS_img_loaded">
                        <h4>Photography</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3 subpage-block">
                    <div class="service-block"> 
                      <div class="service-info">
                                <img src="images/CV/creativity_icon.png" alt="Creativity" class="mCS_img_loaded">
                        <h4>Creativity</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3 subpage-block">
                    <div class="service-block"> 
                      <div class="service-info">
                                <img src="images/CV/advetising_icon.png" alt="Advetising" class="mCS_img_loaded">
                        <h4>Advertising</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End of Services block -->

                <!-- Clients block -->
                <div class="block-title">
                  <h3>Clients</h3>
                </div>

                <div class="row">
                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                            <a href="#" target="_blank"><img src="images/CV/client_1.png" alt="image" class="mCS_img_loaded"></a>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                            <a href="#" target="_blank"><img src="images/CV/client_2.png" alt="image" class="mCS_img_loaded"></a>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                            <a href="#" target="_blank"><img src="images/CV/client_3.png" alt="image" class="mCS_img_loaded"></a>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                            <a href="#" target="_blank"><img src="images/CV/client_4.png" alt="image" class="mCS_img_loaded"></a>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                            <a href="#" target="_blank"><img src="images/CV/client_5.png" alt="image" class="mCS_img_loaded"></a>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                            <a href="#" target="_blank"><img src="images/CV/client_6.png" alt="image" class="mCS_img_loaded"></a>
                    </div>
                  </div>
                </div>
                <!-- End of Clients block -->

                <div class="row">
                  <div class="col-sm-12 col-md-12 subpage-block">
                    <div class="block-title">
                      <h3>Testimonials</h3>
                    </div>
                    <div class="testimonials owl-carousel owl-loaded owl-drag">
                      <!-- Testimonial 1 -->
                      
                      <!-- End of Testimonial 1 -->

                      <!-- Testimonial 2 -->
                      
                      <!-- End of Testimonial 2 -->

                      <!-- Testimonial 3 -->
                      
                      <!-- End of Testimonial 3 -->
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); 
transition: all 0s ease 0s; width: 1131px;">
    <div class="owl-item active" style="width: 366.667px; margin-right: 10px;"><div class="testimonial-item">
                        <!-- Testimonial Content -->
                        <div class="testimonial-content">
                          <div class="testimonial-text">
                            <p>"Phasellus eu nunc tincidunt, ultricies elit vitae, pretium eros. Sed sed ipsum sed massa."</p>
                          </div>
                        </div>            
                        <!-- /Testimonial Content -->  
                        <!-- Testimonial Author -->
                        <div class="testimonial-credits">
                          <!-- Picture -->
                          <div class="testimonial-picture">
                       <img src="images/testimonials/testimonial_photo_1.jpg" 
                            alt="" 
                            class="mCS_img_loaded"/>
                          </div>              
                          <!-- /Picture -->
                          <!-- Testimonial author information -->
                          <div class="testimonial-author-info">
                            <p class="testimonial-author">Maria Richardson</p>
                            <p class="testimonial-firm">Lindsley's Lumber</p>
                          </div>
                        </div>
                        <!-- /Testimonial author information -->               
                      </div></div><div class="owl-item active" style="width: 366.667px; margin-right: 10px;"><div class="testimonial-item">
                        <!-- Testimonial Content -->
                        <div class="testimonial-content">
                          <div class="testimonial-text">
                            <p>"Vivamus porta dapibus tristique. Suspendisse et arcu eget nisi convallis eleifend nec ac lorem."</p>
                          </div>
                        </div>            
                        <!-- /Testimonial Content -->  
                        <!-- Testimonial Author -->
                        <div class="testimonial-credits">
                          <!-- Picture -->
                          <div class="testimonial-picture">
                            <img src="images/testimonials/testimonial_photo_2.jpg" alt="" class="mCS_img_loaded">
                          </div>              
                          <!-- /Picture -->
                          <!-- Testimonial author information -->
                          <div class="testimonial-author-info">
                            <p class="testimonial-author">John Doe</p>
                            <p class="testimonial-firm">Apple Inc.</p>
                          </div>
                        </div>
                        <!-- /Testimonial author information -->               
                      </div></div><div class="owl-item active" style="width: 366.667px; margin-right: 10px;"><div class="testimonial-item">
                        <!-- Testimonial Content -->
                        <div class="testimonial-content">
                          <div class="testimonial-text">
                            <p>"Aliquam congue auctor lectus sed fermentum. Nulla ultricies tellus quis sapien lacinia egestas."</p>
                          </div>
                        </div>            
                        <!-- /Testimonial Content -->  
                        <!-- Testimonial Author -->
                        <div class="testimonial-credits">
                          <!-- Picture -->
                          <div class="testimonial-picture">
                            <img src="images/testimonials/testimonial_photo_3.jpg" alt="" class="mCS_img_loaded">
                          </div>              
                          <!-- /Picture -->
                          <!-- Testimonial author information -->
                          <div class="testimonial-author-info">
                            <p class="testimonial-author">George McQueen</p>
                            <p class="testimonial-firm">Harmony House</p>
                          </div>
                        </div>
                        <!-- /Testimonial author information -->               
                      </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev disabled"></div><div class="owl-next disabled"></div></div><div class="owl-dots disabled"><div class="owl-dot active"><span></span></div></div></div>
                  </div>
                </div>

                <!-- Fun facts block -->
                <div class="block-title">
                  <h3>Fun Facts</h3>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-md-3 subpage-block">
                    <div class="fun-fact-block gray-bg tilt-effect">
                      <i class="pe-7s-icon pe-7s-smile"></i>
                      <h4>Happy Clients</h4>
                      <span class="fun-value">1,024</span>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
                    <div class="fun-fact-block">
                      <i class="pe-7s-icon pe-7s-alarm"></i>
                      <h4>Working Hours</h4>
                      <span class="fun-value">6,256</span>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
                    <div class="fun-fact-block gray-bg">
                      <i class="pe-7s-icon pe-7s-medal"></i>
                      <h4>Awards Won</h4>
                      <span class="fun-value">21</span>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
                    <div class="fun-fact-block">
                      <i class="pe-7s-icon pe-7s-coffee"></i>
                      <h4>Coffee Consumed</h4>
                      <span class="fun-value">20,000</span>
                    </div>
                  </div>
                </div>
                <!-- End of Fun fucts block -->
              </div>
            </div><div id="mCSB_2_scrollbar_vertical" 
                class="mCSB_scrollTools mCSB_2_scrollbar mCS-light mCSB_scrollTools_vertical" 
                style="display: block;">
<div class="mCSB_draggerContainer">
    <div id="mCSB_2_dragger_vertical" class="mCSB_dragger" 
        style="position: absolute; min-height: 30px; display: block; height: 391px; max-height: 753px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></section>
@* end section *@




@* Javascript Section *@
<script src="~/js/mycv/bootstrap.min.js"></script>
@* <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> *@
@* <script src="js/bootstrap.min.js"></script> *@
<script src="~/js/mycv/pages-switcher.js"></script>
<script src="~/js/mycv/imagesloaded.pkgd.min.js"></script>
<script src="~/js/mycv/validator.js"></script>
<script src="~/js/mycv/jquery.shuffle.min.js"></script>
<script src="~/js/mycv/masonry.pkgd.min.js"></script>
<script src="~/js/mycv/owl.carousel.min.js"></script>
<script src="~/js/mycv/jquery.magnific-popup.min.js"></script>
<script src="~/js/mycv/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/mycv/tilt.jquery.min.js"></script>
<script src="~/js/mycv/jquery.hoverdir.js"></script>
<script src="~/js/mycv/main.js"></script>
                @* End Section *@