@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<link href="~/css/backgroundprj/stylesheet.css" rel="stylesheet" />
<section id="layout-content">
    <img src="https://www.depa.or.th/storage/app/media/SmartCity/Tab_SmartCity/2023-Nov-update/SmartCity_TH.png" class="fluid" width="100%">
    <div class="space-top-l space-bottom-l">
        <div class="page-title text-c">
            การส่งเสริมเมืองอัจฉริยะ
        </div>
        <div class="pos-r fluid-width">
            <div class="switch-con2">
                <div class="container space-top-l space-bottom-m">
                    <div class="select-bar">
                        <span class="text-select">Please Select</span>
                        <div class="arrow-select t-2">&nbsp;</div>
                    </div>
                    <div class="switch-menu-bar">
                        <div class="inner-con t-2">
                            <div onclick="if (!window.__cfRLUnblockHandlers) return false; window.location.href='smart-city-office'" class="menu-box t-2
                         active ">
                                สำนักงาน
                            </div>
                            <div onclick="if (!window.__cfRLUnblockHandlers) return false; window.location.href='services'" class="menu-box t-2
                        ">
                                บริการ
                            </div>
                            <div onclick="if (!window.__cfRLUnblockHandlers) return false; window.location.href='existing-smart-city'" class="menu-box t-2
                        ">
                                เมืองอัจฉริยะ
                            </div>
                            <div onclick="if (!window.__cfRLUnblockHandlers) return false; window.location.href='Smart-City-Index'" class="menu-box t-2
                        ">
                                Smart City Index
                            </div>
                            <div onclick="if (!window.__cfRLUnblockHandlers) return false; window.location.href='Smart-City-Solutions-Awards-2023'" class="menu-box t-2
                        ">
                                Smart City Solutions Awards 2023
                            </div>
                            <div onclick="if (!window.__cfRLUnblockHandlers) return false; window.location.href='The-Smart-City-Ambassadors'" class="menu-box t-2
                        ">
                                The Smart City Ambassadors
                            </div>
                            <div onclick="if (!window.__cfRLUnblockHandlers) return false; window.location.href='CDP'" class="menu-box t-2
                        ">
                                แพลตฟอร์มข้อมูลเมือง
                            </div>
                            <div onclick="if (!window.__cfRLUnblockHandlers) return false; window.location.href='Smart-City-BOI'" class="menu-box t-2
                        ">
                                สิทธิประโยชน์ BOI
                            </div>
                            <div onclick="if (!window.__cfRLUnblockHandlers) return false; window.location.href='public-relation'" class="menu-box t-2
                        ">
                                ข่าวประชาสัมพันธ์
                            </div>
                            <div onclick="if (!window.__cfRLUnblockHandlers) return false; window.location.href='downloads'" class="menu-box t-2
                        ">
                                ดาวน์โหลด
                            </div>
                            <div onclick="if (!window.__cfRLUnblockHandlers) return false; window.location.href='knowledge'" class="menu-box t-2
                        ">
                                ความรู้
                            </div>
                        </div>
                    </div>
                </div>
                <div class="switch-content content-outer">
                    <div class="container space-bottom-l">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="content-ui">
                                <p><br></p><p><br></p><p><br></p><table style="width: 100%;"><tbody><tr><td style="width: 100%; background-color: rgb(0, 174, 157); vertical-align: top; text-align: left;"><h4 style="color:white;">สำนักงานเมืองอัจฉริยะ</h4></td></tr></tbody></table><p dir="ltr"><br></p><p>&nbsp; &nbsp; &nbsp;สำนักงานเมืองอัจฉริยะ เป็นหน่วยงานที่จัดตั้งขึ้นภายใต้การกำกับดูแลของสำนักงานส่งเสริมเศรษฐกิจดิจิทัล กระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม ลงวันที่ 15 ตุลาคม 2560 มีภารกิจในการจัดทำแผนแม่บท แผนปฏิบัติการและการขับเคลื่อนการพัฒนาเมืองอัจฉริยะให้สอดคล้องกับทิศทางการพัฒนาประเทศตามแนวทางการขับเคลื่อนประเทศไทย 4.0 และยุทธศาสตร์ชาติ 20 ปี</p><p><a draggable="false" href="https://drive.google.com/file/d/1469qMpCuzezR1YQmLmYTsO78IP3cVhPB/view?usp=sharing " rel="noopener noreferrer" target="_blank">คำสั่งจัดตั้งสำนักงานเมืองอัจฉริยะประเทศไทย</a></p><p><a draggable="false" href="https://drive.google.com/open?id=121aLfVB9uwIL4AteycLMePptMueUmRBf&amp;authuser=nattapon.tr%40depa.or.th&amp;usp=drive_fs" rel="noopener noreferrer" target="_blank">คำสั่งแต่งตั้งคณะกรรมการบริหารสำนักงานเมืองอัจฉริยะ</a></p><p><br></p><table style="width: 100%;"><tbody><tr><td style="width: 100%; background-color: rgb(0, 174, 157); vertical-align: top; text-align: left;"><h4 style="color:white;">คณะกรรมการขับเคลื่อนการพัฒนาเมืองอัจฉริยะ</h4></td></tr></tbody></table><p><img src="https://manage.depa.or.th/storage/app/media/SmartCity/Tab_SmartCity/messageImage_1699428742313.jpg" style="width: 1007px;" class="fr-fic fr-dib"></p><p dir="ltr" style="text-align: right;">(<a draggable="false" href="https://manage.depa.or.th/storage/app/media/SmartCity/Tab_SmartCity/committee-eng.png" rel="noopener noreferrer" target="_blank">Click here for English version</a>)</p><p><a draggable="false" href="https://drive.google.com/file/d/1jtxbKY_TFFAVBN3gjq-yFNuEFsx30kQE/view?usp=sharing " rel="noopener noreferrer" target="_blank">คำสั่งแต่งตั้งคณะกรรมการขับเคลื่อนพัฒนาเมืองอัจฉริยะ</a></p><p><a draggable="false" href="https://drive.google.com/file/d/1Hv13pLTOySbpp_L9Sxf2iYv5EXoneamw/view?usp=sharing  " rel="noopener noreferrer" target="_blank">คำสั่งแต่งตั้งคณะอนุกรรมการขับเคลื่อนและบริหารโครงการเมืองอัจฉริยะ</a></p><p><a draggable="false" href="https://drive.google.com/file/d/1EEKqNffJtpTidTLSnWvWzqNTn4qgKKi-/view?usp=sharing " rel="noopener noreferrer" target="_blank">คำสั่งแต่งตั้งคณะทำงานประเมินแผนการเป็นเมืองอัจฉริยะ 7 ด้าน</a></p><p><br></p><table style="width: 100%;"><tbody><tr><td style="width: 100%; background-color: rgb(0, 174, 157); vertical-align: top; text-align: left;"><h4 style="color:white;">การพัฒนาเมืองอัจฉริยะ</h4></td></tr></tbody></table><p><br></p><p><img src="https://www.depa.or.th/storage/app/media/Image%20File/smart-city-plan-04.jpg" style="width: 1000px;" class="fr-fic fr-dib" draggable="false"></p><p><br></p><p>&nbsp; &nbsp; &nbsp;“เมืองอัจฉริยะ” หมายความว่า เมืองที่ใช้ประโยชน์จากเทคโนโลยีและนวัตกรรมที่ทันสมัยและชาญฉลาด เพื่อเพิ่มประสิทธิภาพของการให้บริการและการบริหารจัดการเมือง ลดค่าใช้จ่ายและการใช้ทรัพยากรของเมืองและประชากรเป้าหมาย โดยเน้นการออกแบบที่ดี และการมีส่วนร่วมของภาคธุรกิจและภาคประชาชนในการพัฒนาเมือง ภายใต้แนวคิดการพัฒนา เมืองน่าอยู่ เมืองทันสมัย ให้ประชาชนในเมืองมีคุณภาพชีวิตที่ดี มีความสุข &nbsp;อย่างยั่งยืน การพัฒนาเมืองอัจฉริยะมีมิติการพัฒนาได้หลายด้าน มีมิติที่สำคัญ 7 ด้านคือ 1) สิ่งแวดล้อมอัจฉริยะ (Smart Environment) 2) การเดินทางและขนส่งอัจฉริยะ (Smart Mobility) 3) การดำรงชีวิตอัจฉริยะ (Smart Living) 4) พลเมืองอัจฉริยะ (Smart People) 5) พลังงานอัจฉริยะ (Smart Energy) 6) เศรษฐกิจอัจฉริยะ (Smart Economy) 7) การบริหารภาครัฐอัจฉริยะ (Smart Governance)</p><p><br></p><p><strong>ลักษณะของการพัฒนาเมืองอัจฉริยะ 7 ด้าน</strong></p><p><strong><img src="https://www.depa.or.th/storage/app/media/Image%20File/SvenSmarts.png" style="width: 1000px;" class="fr-fic fr-dib" draggable="false"></strong></p><p><strong>สิ่งแวดล้อมอัจฉริยะ (</strong><strong>Smart Environment)&nbsp;</strong></p><p>&nbsp; &nbsp; &nbsp;เป็นเมืองที่มุ่งเน้นปรับปรุงคุณภาพและเพิ่มประสิทธิภาพ ประสิทธิผลการบริหารจัดการ และติดตามเฝ้าระวัง สิ่งแวดล้อมและสภาวะแวดล้อมอย่างเป็นระบบ เช่น การจัดการน้ำ การดูแลสภาพอากาศ การเฝ้าระวังภัยพิบัติตลอดจนเพิ่มการมีส่วนร่วมของประชาชนในการอนุรักษ์ทรัพยากรธรรมชาติ</p><p><strong>การเดินทางและขนส่งอัจฉริยะ (</strong><strong>Smart Mobility)&nbsp;</strong></p><p>&nbsp; &nbsp; &nbsp;เป็นเมืองที่มุ่งเน้นเพิ่มความสะดวก ประสิทธิภาพ และความปลอดภัยในการเดินทางและขนส่ง และเป็นมิตรกับสิ่งแวดล้อม</p><p><strong>การดำรงชีวิตอัจฉริยะ (</strong><strong>Smart Living)</strong></p><p>&nbsp; &nbsp; &nbsp;เป็นเมืองที่มุ่งเน้นให้บริการที่อำนวยความสะดวกต่อการดำรงชีวิต เช่น การบริการด้านสุขภาพให้ประชาชนมีสุขภาพและสุขภาวะที่ดี โดยเฉพาะอย่างยิ่งเพื่อเตรียมพร้อมเข้าสู่สังคมสูงอายุ การเพิ่มความปลอดภัยของประชาชนด้วยการเฝ้าระวังภัยจากอาชญากรรม ไปจนถึงการส่งเสริมให้เกิดสิ่งอำนวยความสะดวกสำหรับการดำรงชีวิตที่เหมาะสม</p><p><strong>พลเมืองอัจฉริยะ (</strong><strong>Smart People)&nbsp;</strong></p><p>&nbsp; &nbsp; &nbsp;เป็นเมืองที่มุ่งเน้นพัฒนาพลเมืองให้มีความรู้และสามารถประยุกต์ใช้เทคโนโลยีให้เกิดประโยชน์ทั้งในเชิงเศรษฐกิจและการดำรงชีวิต สร้างสภาพแวดล้อมที่ส่งเสริมความคิดสร้างสรรค์และการเรียนรู้นอกระบบ รวมถึงการส่งเสริมการอยู่ร่วมกันด้วยความหลากหลายทางสังคม</p><p><strong>พลังงานอัจฉริยะ (</strong><strong>Smart Energy)</strong></p><p>&nbsp; &nbsp; &nbsp;เป็นเมืองที่มุ่งเน้นเพิ่มประสิทธิภาพการใช้พลังงานของเมือง หรือใช้พลังงานทางเลือกอันเป็นพลังงานสะอาด (Renewable Energy) เช่น เชื้อเพลงชีวมวล ไฟฟ้าจากพลังงานหมุนเวียน และไฟฟ้าจากพลังงานอื่นๆ เป็นต้น</p><p><strong>เศรษฐกิจอัจฉริยะ (</strong><strong>Smart Economy)&nbsp;</strong></p><p>&nbsp; &nbsp; &nbsp;เป็นเมืองที่มุ่งเน้นเพิ่มประสิทธิภาพและความคล่องตัวในการดำเนินธุรกิจ สร้างให้เกิดความเชื่อมโยงและความร่วมมือทางธุรกิจ และประยุกต์ใช้นวัตกรรม ในการพัฒนาเพื่อปรับเปลี่ยนธุรกิจ (เช่น เมืองเกษตรอัจฉริยะ เมืองท่องเที่ยวอัจฉริยะ เป็นต้น)</p><p><strong>การบริหารภาครัฐอัจฉริยะ (</strong><strong>Smart Governance)&nbsp;</strong></p><p>&nbsp; &nbsp; &nbsp;เป็นเมืองที่มุ่งเน้นพัฒนาระบบบริการเพื่อให้ประชาชนเข้าถึงบริการภาครัฐสะดวก รวดเร็ว เพิ่มช่องทางการมีส่วนร่วมของประชาชน รวมถึงการเปิดให้ประชาชนเข้าถึงข้อมูลทำให้เกิดความโปร่งใส ตรวจสอบได้</p><p><br></p><p><strong>องค์ประกอบของแผนพัฒนาเมืองอัจฉริยะ</strong></p><p>&nbsp; &nbsp; &nbsp;คณะกรรมการขับเคลื่อนการพัฒนาเมืองอัจฉริยะส่งเสริมและสนับสนุนการดำเนินงานเพื่อจัดทำแผนนโยบายและการขับเคลื่อนการพัฒนาเมืองอัจฉริยะระดับพื้นที่ โดยได้กำหนดหลักเกณฑ์ขององค์ประกอบของแผนการพัฒนา ประกอบไปด้วย 5 เสาหลัก ดังนี้</p><p><img src="https://www.depa.or.th/storage/app/media/Image%20File/FiveIndex.png" style="width: 1000px;" class="fr-fic fr-dib" draggable="false"></p><p dir="ltr" style="text-align: right;">(<a draggable="false" href="https://drive.google.com/file/d/1h4dCDz3GVt1dkFtJ-e6XfBbBZCpfp9IT/view?usp=sharing" rel="noopener noreferrer" target="_blank">Click here for English version</a>)</p><p><img src="https://www.depa.or.th/storage/app/media/Image%20File/080921_TH_spcIndex_v1.png" style="width: 1000px;" class="fr-fic fr-dib" draggable="false"></p><p dir="ltr" style="text-align: right;">ช้อมูล ณ วันที่ 18 สิงหาคม 2564</p><p dir="ltr" style="text-align: right;">(<a draggable="false" href="https://manage.depa.or.th/storage/app/media/SmartCity/Tab_SmartCity/131021_EN_7Criteria.jpg" rel="noopener noreferrer" target="_blank">Click here for English version</a>)</p><p><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>