@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/serviceMenu.css" />
<link rel="stylesheet" href="~/css/serviceMenuAdditional.css" />
<link rel="stylesheet" href="~/css/serviceMenuInline.css" />
<link rel="stylesheet" href="~/css/serviceMenuItem.css" />
<div class="entry-content pt-3">
    <div class="wp-block-group top-z-index has-light-green-cyan-background-color  has-background is-layout-constrained wp-block-group-is-layout-constrained -sh">
        <div class="wp-block-group__inner-container" style="padding:0px">
            <img src="/images/smartcity/Smart city 7 smart.jpg" style="border-radius:30px;" />
            <div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>

            

        




         


                

        </div>
    </div>
</div>
